.btn-control {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn-control img {
  width: 150px;
}

.btn-control.c-bpm img {
  width: 75px;
}

.btn-control.c-bpm img:hover {
  transform: scale(1.1);
}
