<div class="mt-3">
  <div class="d-flex justify-content-center align-items-center gap-3">
    <a class="btn-control c-bpm me-2" (click)="decreaseBpm()">
      <img src="assets/images/icons/less.svg" alt="" />
    </a>

    <a class="btn-control me-2" (click)="togglePlay()">
      <img *ngIf="!toggle" src="assets/images/icons/play.svg" alt="" />
      <img *ngIf="toggle" src="assets/images/icons/stop.svg" alt="" />
    </a>

    <a class="btn-control c-bpm me-2" (click)="increaseBpm()">
      <img src="assets/images/icons/more.svg" alt="" />
    </a>
  </div>
</div>
